<!DOCTYPE html>
<html lang="en-nz">
<head>
  {{ partial "head.html" . }}
</head>
<body class="font-body bg-surface-card text-body antialiased">
  {{ partial "header.html" (dict "light" (or .IsHome (and (eq .Type "services") (eq .Kind "page")))) }}
  <main id="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "cookie-banner.html" . }}
  {{ with resources.Get "js/site.js" }}
  {{ $js := . | js.Build (dict "minify" true "target" "es2017") | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  {{ end }}
</body>
</html>
