{{ define "main" }}

{{ partial "gradient-header.html" (dict "eyebrow" "Get in touch" "title" .Title "lead" .Params.summary) }}

<div class="container-page mt-10 max-w-2xl">
  <div class="prose-body">
    {{ .Content }}
  </div>

  <div class="mt-10">
    <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=Bay%20Glass%20Kerikeri&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
    
  </div>

  <div class="mt-10 grid gap-6 sm:grid-cols-2">
    <div class="card card-hover p-6">
      <div class="eyebrow-xs mb-2">Phone</div>
      <p><a href="{{ site.Params.phoneHref | safeURL }}" class="link-underline inline-block font-display font-medium text-heading">{{ site.Params.phone }}</a></p>
      
    </div>
    <div class="card card-hover p-6">
      <div class="eyebrow-xs mb-2">Address</div>
      <p class="link-underline inline-block font-display font-medium text-heading">{{ site.Params.address }}</p>
    </div>
  </div>
</div>

<div class="container-page mt-36">
  {{ partial "footer.html" . }}
</div>

{{ end }}
